$background-color: #332f2f;
$positive:#31af31;
$warning:#e7d747;
$negative:#d32828;
$header:#1c1cb1;
$translucent:#f0ececaf;
$text-color:#ffffff;
$logo-color:#37d19e;
$text-size-lg:1.3rem;
$text-size-md:1.2rem;
$text-size-sm:1.1rem;
